*{
    margin: 0;
padding: 0;
}
.temp{
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.temp-1{
    width: 350px;
    height: 500px;
    background: linear-gradient(rgba(10,49,68,0.68), rgba(51, 50, 50, 0.749));
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.temp-inp{
    width: 150px;
    height: 50px;
    border-radius: 30px;
   border-color: rgba(10, 49, 68, 0.68);
     border: none;
   margin-top: 15px;
   text-align: center;
   /* margin-left: 100px; */
}
.temp-2{
    color: white;
    margin-top: 80px;
 font-size: 22px;

}
.temp-3{
    color: rgba(0, 0, 0, 0.562);
    font-size: 20px;
    margin-top: 10px;
}
